{
  "presets": [
    "babel-preset-react",
    [
      "env", {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    ["transform-runtime", {
      "regenerator": true
    }]
  ],
  "ignore": [
    "*/node_modules,*/"
  ]
}