.route-features-list-wrapper {
    list-style-type: none;
    padding: 0;
}
.c4g-routing-layer-values > button{
    min-width: 30%;
    width: auto !important;
}
.c4g-routing-layers-select{
    background-color: var(--main-color);
    color: var(--font-color);
    width:100%
}

.route-features-list-element:nth-child(1) > div {
    border-top: 1px solid;
}

.c4g-routing-toggle{
    width:100%;
}

.feature-entry {
    display: inline-block;
    width: 400px;
    /*border-top: 1px solid;*/
    border-bottom: 1px solid;
}

.feature-entry div {
    margin: 2px;
}

.top-container {
    display: flex;
}

.fuel-prices {
    display: flex;
    float: right;
    align-items: flex-end;
    align-self: flex-end;
    justify-self: right;
}

.station-distance {
    width: 40%;
}

.fuel-prices div {
    margin-top: 0;
}

.middle-container {
    display: flex;
}

.station-address {

}

.opening-times {

}

.fuel-source {
    margin-bottom: 5px;
}

.no-display {
    display: none;
}